# Virtual environments
.venv/
gateway_env/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Root səviyyəsində faylları nəzərə alma
README.md


# Docker Compose override local file
docker-compose.override.yml
