[submodule "analitic-service"]
    path = analitic-service
	url = https://github.com/ilhamdjango/eccomerce-analitica.git
[submodule "ecomerce-gateway-service"]
    path = ecomerce-gateway-service
	url = https://github.com/ilhamdjango/eccomerce-gateway-service.git
